<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="thank-you-box">
                <i class="far fa-check-circle text-primary"></i>
                <h4>Thank you</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                </p>
                <a href="#" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</div>