<header>
    <div class="container">
        <div class="header-part">
            <div class="logo">
                <a href="#">
                     <img src="assets/images/logo.png" alt=""> 
                </a>
            </div>
            <div class="login-button">
                <ul>
                    <li *ngIf="!userLoggedIn">
                        <a [routerLink]="'/'" class="btn btn-primary">Login</a>
                    </li>
                    <li>
                        <a [routerLink]="'/'" (click)="userService.userLogOut()" class="btn btn-danger text-white">Logout</a>
                    </li>
                    <li *ngIf="!userLoggedIn">
                        <a [routerLink]="'/signup'" class="btn btn-outline-warning">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>